.header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  height: 50px;
  background-color: #546de5;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

.header__container {
  height: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-weight: 900;
  font-size: 1.5rem;
}

.header__title:hover {
  -webkit-animation: swing;
  animation: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  cursor: default;
}

.header__settings-bar {
  position: absolute;
  right: 10px;
  top: 0;
  height: 100%;
  width: 30%;
  display: none;
  align-items: center;
  font-size: 1.2rem;
  justify-content: flex-end;
}

@media screen and (max-width: 550px) {
  .header__settings-bar {
    display: flex;
  }
}

.header__settings-bar i {
  color: #fff;
  font-size: 1.5rem;
}

.hide-create {
  display: flex;
}

@media screen and (max-width: 550px) {
  .hide-create {
    display: none;
  }
}

.create {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  align-self: flex-start;
  scrollbar-width: 0;
}

@media screen and (max-width: 900px) {
  .create {
    max-width: 100%;
    width: 95%;
    align-self: auto;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .create {
    position: fixed;
    width: 100vw;
    z-index: 100;
    background-color: #fff;
    height: 100vh;
    overflow: scroll;
    box-shadow: none;
    border-bottom: 1px dotted rgba(0, 0, 0, 0.2);
    -webkit-animation: zoomIn;
    animation: zoomIn;
    -webkit-animation-duration: .2s;
    animation-duration: .2s;
  }
}

.create__container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.create-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 25px;
}

.create-section > * {
  margin-bottom: 20px;
}

.create-section form {
  position: relative;
}

.create-section .options {
  padding: 15px 5px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media screen and (max-width: 900px) {
  .create-section .options {
    flex-direction: row;
    align-items: center;
  }
}

@media screen and (max-width: 650px) {
  .create-section .options {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 550px) {
  .create-section .options {
    margin-bottom: 60px;
  }
}

.create-section .options__important {
  display: flex;
  align-items: center;
  color: #1e272e;
}

.create-section .options__important input {
  margin-left: 10px;
}

.create-section .options__select-list {
  margin-top: 10px;
  color: #1e272e;
}

@media screen and (max-width: 900px) {
  .create-section .options__select-list {
    margin-top: 0px;
    margin-left: 30px;
  }
}

@media screen and (max-width: 650px) {
  .create-section .options__select-list {
    margin-left: 0;
    margin-top: 10px;
  }
}

@media screen and (max-width: 550px) {
  .create-section .options__select-list {
    width: 100%;
  }
}

.create-section .options__select-list select {
  height: 28px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 200px;
  margin-left: 10px;
}

@media screen and (max-width: 550px) {
  .create-section .options__select-list select {
    margin-left: 0;
    margin-top: 10px;
    flex-grow: 1;
    display: inline-block;
    flex-shrink: 1;
    flex-grow: 1;
    width: 100%;
  }
}

.create-section .fas {
  height: 50px;
  color: rgba(0, 0, 0, 0.2);
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 2rem;
}

.create-section__title {
  font-weight: bold;
  color: #1e272e;
}

.create-section__title::after {
  content: '';
  height: 1px;
  margin-top: 15px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 550px) {
  .create-section__title {
    text-align: center;
  }
}

.create-section__create {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 550px) {
  .create-section__create {
    flex-direction: column;
  }
}

.create-section__create-button {
  height: 45px;
  width: 80px;
  margin-left: 15px;
  border-radius: 5px;
  background-color: #546de5;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 550px) {
  .create-section__create-button {
    margin-left: 0;
    width: 100%;
    margin-top: 10px;
    position: absolute;
    bottom: 0;
  }
}

.create-section__create-input {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 3px;
  padding: 10px;
  flex-grow: 1;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 550px) {
  .create-section__create-input {
    width: 100%;
  }
}

.create-section__create-input input, .create-section__create-input input:focus {
  flex-grow: 1;
  height: 100%;
  margin: 0 10px 0 20px;
  color: #1e272e;
  font-size: 1rem;
  max-width: 80%;
}

.create-section__create-input input::-moz-placeholder, .create-section__create-input input:focus::-moz-placeholder {
  color: #bdc3c7;
}

.create-section__create-input input:-ms-input-placeholder, .create-section__create-input input:focus:-ms-input-placeholder {
  color: #bdc3c7;
}

.create-section__create-input input::placeholder, .create-section__create-input input:focus::placeholder {
  color: #bdc3c7;
}

.create-section__color-pick {
  margin: 20px auto 0;
  height: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 550px) {
  .create-section__color-pick {
    justify-content: center;
    margin-bottom: 60px;
  }
}

.create-section__color-pick-title {
  color: #1e272e;
  font-size: 1rem;
}

.create-section__color-pick input[type="radio"] {
  display: none;
}

.create-section__color-pick input[type="radio"]:checked + label {
  border: 2px solid #fff;
  box-shadow: 0 0 0 2px #222f3e;
}

.create-section__color-pick input[type="radio"]:checked + label::before {
  content: '\2714';
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: #1e272e;
}

.create-section__color-pick label {
  width: 30px;
  height: 30px;
  position: relative;
  border-radius: 50%;
  margin: 0 5px;
  flex-shrink: 0;
  cursor: pointer;
}

.create-section__color-pick label:nth-of-type(1) {
  background-color: #546de5;
}

.create-section__color-pick label:nth-of-type(2) {
  background-color: #ff3f34;
}

.create-section__color-pick label:nth-of-type(3) {
  background-color: #ED4C67;
}

.create-section__color-pick label:nth-of-type(4) {
  background-color: #10ac84;
}

.create-section__color-pick label:nth-of-type(5) {
  background-color: #FFC312;
}

.lists {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

@media screen and (max-width: 900px) {
  .lists {
    max-width: none;
    width: 95%;
    margin-top: 25px;
    margin-right: 0;
  }
}

@media screen and (max-width: 550px) {
  .lists {
    width: 100%;
    box-shadow: none;
  }
}

.lists__container {
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.lists__title {
  text-transform: uppercase;
  text-align: center;
  color: #1e272e;
}

.lists__title::after {
  content: '';
  height: 1px;
  margin-top: 15px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.lists__title #lists-counter {
  display: inline-block;
  color: rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  font-size: 0.8rem;
  position: absolute;
  top: 10px;
  right: 10px;
}

.lists__no-list {
  text-align: center;
  color: #bdc3c7;
}

.lists__list {
  overflow-y: scroll;
  height: 240px;
  margin-top: 25px;
  scrollbar-width: none;
}

.lists__list::-webkit-scrollbar {
  display: none;
}

@media screen and (max-width: 900px) {
  .lists__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
  }
}

@media screen and (max-width: 650px) {
  .lists__list {
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

.lists .unlisted {
  background-color: rgba(0, 0, 0, 0.3);
}

.lists__item {
  height: 40px;
  width: 100%;
  border-radius: 5px;
  background-color: #546de5;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .lists__item {
    max-width: calc(50% - 20px);
    margin-right: 10px;
  }
}

@media screen and (max-width: 650px) {
  .lists__item {
    max-width: 90%;
    margin-right: 0;
  }
}

.lists__item:hover .fas {
  color: #fff;
}

.lists__item .fas {
  color: transparent;
  cursor: pointer;
  transition: color .2s;
}

@media (hover: none) {
  .lists__item .fas {
    color: #fff;
  }
}

.list-descr {
  min-width: 400px;
  min-height: 200px;
  max-height: 800px;
  overflow-y: scroll;
  scrollbar-width: none;
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 900px) {
  .list-descr {
    min-height: 30vh;
    min-width: 0;
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .list-descr {
    border: none;
    padding: 10px 0;
  }
}

.list-descr::-webkit-scrollbar {
  display: none;
}

.list-descr__title {
  text-align: center;
  margin: 10px 0 20px;
  color: rgba(0, 0, 0, 0.5);
}

.list-descr__title #current-list {
  text-transform: uppercase;
  color: #1e272e;
}

.list-descr__task-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-descr__no-tasks {
  font-weight: bold;
  color: #bdc3c7;
  text-align: center;
  font-size: 1.5rem;
  padding: 40px 0;
}

.list-descr__task {
  display: flex;
  align-items: center;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  min-width: 300px;
  flex-grow: 1;
  margin-bottom: 10px;
  border: 1px solid #bdc3c7;
}

@media screen and (max-width: 550px) {
  .list-descr__task {
    min-width: 150px;
    width: 100%;
  }
}

.list-descr__task-text {
  flex-grow: 1;
  color: #1e272e;
  cursor: pointer;
  padding: 0 30px 0 10px;
  font-weight: bold;
}

@media screen and (max-width: 550px) {
  .list-descr__task-text {
    font-size: .8rem;
    padding-left: 0;
    word-wrap: break-word;
  }
}

.list-descr__task input[type="checkbox"] {
  margin: 0 20px;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}

.list-descr__task .fas {
  cursor: pointer;
}

.list-descr__task .fa-star {
  margin-right: 10px;
  color: #bdc3c7;
}

.list-descr__task .important {
  color: yellow;
}

.list-descr__task .fa-trash {
  color: #1e272e;
  margin-right: 20px;
}

.popup {
  position: fixed;
  left: 50%;
  height: 100vh;
  width: 100vw;
  transform: translateX(-50%);
  top: 30px;
}

.popup__container {
  position: relative;
  min-height: 100px;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  -webkit-animation: fadeInDown;
  animation: fadeInDown;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
  justify-self: center;
}

.popup__close {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
}

.popup__content {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  width: 100%;
  font-weight: bold;
  color: #1e272e;
  font-size: 1.6rem;
  padding: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 16px;
}

a,
a:focus,
input,
input:focus,
textarea,
textarea:focus,
select,
select:focus,
button,
button:focus {
  outline: none;
  background-color: none;
  text-decoration: none;
  border: none;
}

.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-top: 50px;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

body .container {
  max-width: 1000px;
  margin: 0 auto;
}

body .main__container {
  padding: 25px;
}

@media screen and (max-width: 550px) {
  body .main__container {
    padding: 0;
  }
}

body .main__descr {
  display: flex;
}

@media screen and (max-width: 900px) {
  body .main__descr {
    flex-direction: column;
    align-items: center;
  }
}

body .main__content {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 900px) {
  body .main__content {
    justify-content: center;
  }
}

body .main__details {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 25px 10px 0 0;
}

@media screen and (max-width: 900px) {
  body .main__details {
    width: 95%;
    margin: 25px auto;
  }
}

@media screen and (max-width: 550px) {
  body .main__details {
    padding-top: 25px;
    box-shadow: none;
  }
}

body .main__details-title {
  color: #1e272e;
  text-transform: uppercase;
  margin-bottom: 25px;
  text-align: center;
}

body .main__details-title::after {
  content: '';
  height: 1px;
  margin-top: 20px;
  display: block;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}
