@import './colors.scss';
@import './mixins.scss';

$input_height: 50px;

.create {
  flex-grow: 1;
  max-width: 60%;
  margin-right: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  align-self: flex-start;

  &__container {
    padding: 25px;
    display: flex;
    flex-direction: column;
  } 

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    > * {
      margin-bottom: 20px;
    }

    .fas {
      height: $input_height;
      color: rgba(0, 0, 0, .2);
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 2rem;
      cursor: pointer;
    }

    &__title {
      font-weight: bold;
      color: $base_color;
      &::after {
        content: '';
        @include bottom_line(15px);
      }
    }

    &__create {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $input_height;
      
    }

    &__create-button {
      height: $input_height - 5px;
      width: 80px;
      margin-left: 15px;
      border-radius: 5px;
      background-color: $blue_color;
      color: #fff;
    }

    &__create-input {
      display: flex;
      align-items: center;
      height: $input_height;
      border-radius: 3px;
      padding: 10px;
      flex-grow: 1;
      // box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      border: 1px solid rgba(0, 0, 0, .1);

      input, input:focus {
        flex-grow: 1;
        height: 100%;
        margin: 0 10px 0 20px;
        color: $base_color;
        font-size: 1rem;

        &::placeholder {
          color: $gray_color;
        }
      }
    }

  }


}