@import './colors.scss';
@import './mixins.scss';

$input_height: 50px;

.create {
  flex-grow: 1;
  max-width: 60%;
  margin-right: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  align-self: flex-start;

  &__container {
    padding: 25px;
    display: flex;
    flex-direction: column;
  } 

  &-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 25px;
    > * {
      margin-bottom: 20px;
    }

    .fas {
      height: $input_height;
      color: rgba(0, 0, 0, .2);
      height: 100%;
      display: flex;
      align-items: center;
      font-size: 2rem;
    }

    &__title {
      font-weight: bold;
      color: $base_color;
      &::after {
        content: '';
        @include bottom_line(15px);
      }
    }

    &__create {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: $input_height;
      
    }

    &__create-button {
      height: $input_height - 5px;
      width: 80px;
      margin-left: 15px;
      border-radius: 5px;
      background-color: $blue_color;
      color: #fff;
      cursor: pointer;
    }
    .options {
      padding: 15px 5px 0;
      display: flex;
      align-items: center;

      &__important {
        display: flex;
        align-items: center;
        color: $base_color;
        input {
          margin-left: 10px;
        }
      }

      &__select-list {
        margin-left: 30px;
        color: $base_color;
        select {
          height: 28px;
          border-radius: 4px;
          border: 1px solid rgba(0, 0, 0, .2);
          width: 200px;
          margin-left: 10px;
        }
      }
    }
    
    &__create-input {
      display: flex;
      align-items: center;
      height: $input_height;
      border-radius: 3px;
      padding: 10px;
      flex-grow: 1;
      border: 1px solid rgba(0, 0, 0, .1);

      input, input:focus {
        flex-grow: 1;
        height: 100%;
        margin: 0 10px 0 20px;
        color: $base_color;
        font-size: 1rem;

        &::placeholder {
          color: $gray_color;
        }
      }
    }

  }


}