@import './common/colors.scss';
@import './common/media.scss';

$header_height: 50px;

.header {
  position: fixed;
  top: 0;
  margin: 0 auto;
  height: $header_height;
  background-color: $blue_color;
  width: 100%;
  color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .3);
  z-index: 100;

  &__container {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title {
    font-weight: 900;
    font-size: 1.5rem;
    &:hover {
      animation: swing;
      animation-duration: 1s;
      cursor: default;
    }
  }

  &__settings-bar {
    position: absolute;
    right: 10px;
    top: 0;
    height: 100%;
    width: 30%;
    display: none;
    align-items: center;
    font-size: 1.2rem;
    justify-content: flex-end;

    @media screen and (max-width: $smallphone_screen) {
      display: flex;
    }

    i {
      color: #fff;
      font-size: 1.5rem;
    }
  }
}