@import './common/colors.scss';
@import './common/mixins.scss';
@import './common/media.scss';

.lists {
  flex-grow: 1;
  max-width: 50%;
  margin-right: 10px;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  position: relative;

  @media screen and (max-width: $tablet_screen) {
    max-width: none;
    width: 95%;
    margin-top: 25px;
    margin-right: 0;
  }

  @media screen and (max-width: $smallphone_screen) {
    width: 100%;
    box-shadow: none;
  }

  &__container {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
  }

  &__title {
    text-transform: uppercase;
    text-align: center;
    color: $base_color;

    &::after {
      content: '';
      @include bottom_line(15px);
    }

    #lists-counter {
      display: inline-block;
      color: rgba(0, 0, 0, .5);
      margin-left: 10px;
      font-size: 0.8rem;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }

  &__no-list {

    text-align: center;
    color: $gray_color;
  }

  &__list {
    overflow-y: scroll;
    height: 240px;
    margin-top: 25px;
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }

    @media screen and (max-width: $tablet_screen) {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-content: flex-start;
    }

    @media screen and (max-width: $smartphone_screen) {
      align-items: center;
      flex-wrap: nowrap;
      flex-direction: column;
    }
  }

  .unlisted {
    background-color: rgba(0, 0, 0, .3);
  }

  &__item {
    height: 40px;
    width: 100%;
    border-radius: 5px;
    background-color: $blue_color;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;

    @media screen and (max-width: $tablet_screen) {
      max-width: calc(50% - 20px);
      margin-right: 10px;
    }

    @media screen and (max-width: $smartphone_screen) {
      max-width: 90%;
      margin-right: 0;
    }

    &:hover {
      .fas {
        color: #fff;
      }
    }

    .fas {
      color: transparent;
      cursor: pointer;
      transition: color .2s;

      @media (hover: none){
        color: #fff;
      }
    }
  }
}