@import './header.scss';
@import './create.scss';
@import './taskslist.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 16px;
}

a, 
a:focus,
input,
input:focus,
textarea,
textarea:focus, 
select,
select:focus,
button,
button:focus {
  outline: none;
  background-color: none;
  text-decoration: none;
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  .main {
    &__container {
      padding: 40px 25px;
    }

    &__descr {
      display: flex;
    }
  }
}