@import './header.scss';
@import './create.scss';
@import './lists.scss';
@import './listDescr.scss';
@import './popup.scss';
@import './common/mixins.scss';
@import './common/media.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-size: 16px;
}

a, 
a:focus,
input,
input:focus,
textarea,
textarea:focus, 
select,
select:focus,
button,
button:focus {
  outline: none;
  background-color: none;
  text-decoration: none;
  border: none;
}

.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin-top: $header_height;
  scrollbar-width: none;
  
  &::-webkit-scrollbar {
    display: none;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
  }
  
  .main {
    &__container {
      padding: 25px;

      @media screen and (max-width: $smallphone_screen) {
        padding: 0;
      }
    }

    &__descr {
      display: flex;

      @media screen and (max-width: $tablet_screen) {
        flex-direction: column;
        align-items: center;
      }
    }

    &__content {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media screen and (max-width: $tablet_screen) {
        justify-content: center;
      }
    }

    &__details {
      box-shadow: 0 0 10px rgba(0, 0, 0, .2);
      margin: 25px 10px 0 0;

      @media screen and (max-width: $tablet_screen) {
        width: 95%;
        margin: 25px auto;
      }

      @media screen and (max-width: $smallphone_screen) {
        padding-top: 25px;
        box-shadow: none;
      }

      &-title {
        color: $base_color;
        text-transform: uppercase;
        margin-bottom: 25px;
        text-align: center;

        &::after {
          content: '';
          @include bottom_line(20px);
        }
      }
    }
  }
}